h1{ 

    color: blue;
    font-size: 50px;

   }

   #unico{


    color: brown;
    font-size: 30px;



   }


   .azul{

    
    color: rgb(42, 165, 130);
    font-size: 30px;
   }



   .fondo{

    background: #444;
   }